h1= title
h2= message
form(action="/postQuestion" method="post")
	span theme
	br
	select(name="theme",[(ngModel)]="theme")
		option(value="HTML") HTML
		option(value="CSS") CSS
		option(value="JavaScript") JavaScript
	br
	span Question
	br
	input(type="text", name="question", [(ngModel)]="question")
	br
	label reponse 1
	br
	input(type="text", name="reponse1", [(ngModel)]="reponse1")
	br
	label reponse 2
	br
	input(type="text", name="reponse2", [(ngModel)]="reponse2")
	br
	label reponse 3
	br
	input(type="text", name="reponse3", [(ngModel)]="reponse3")
	br
	span Quelle est la bonne reponse ?
	br
	select(name="reponse",[(ngModel)]="reponse", (select)="updateSlots()")
		option(value="reponse1") reponse1
		option(value="reponse2") reponse2
		option(value="reponse3") reponse3
	br
	input(class='button', value="Submit", (click)="post()")
	h2 PREVIEW
	p {{theme}}
	p Question : {{question}}
	p 1) {{reponse1}}
	p 2) {{reponse2}}
	p 3) {{reponse3}}
	p La bonne reponse est la : {{reponse}}
	h2 {{err}}