extends layout

block content
	h1= title
	form(action="/postQuestion" method="post")
		h3 Creation d'utilisateur
		span Entrez un nom d'utilisateur
		br
		input(type="text", name="username",checked)
		br
		input(class='button',type="submit", value="Submit")