extends layout.pug

block content
    h1= title
    p Welcome to #{title}

    section
        h1 Création d'un utilisateur
        form(action="/signup" method="POST")
            input(name="nom")
            input(type="submit")

    section
        h1 Tous les utilisateurs de ma BD
        ul
        each user in users
            li= user.nom

    section
        h1 Supprimer tous les utilisateurs de ma BD
        form(action="/remove" method="POST")
            input(name="nom" style="display:none")
            input(type="submit" value="Supprimer")

