extends layout

block content
  h1 Tableau de Bord
  div#info
    h2 Questions Rapides
    p Gymnastique mentale dans un environement sans stress.
    a(class='button' href= 'quicktest') 
      span Commencer le quiz
    h2 Pratique d'examen
    p Selectionnez vos parametres pour la simulation d'examen.
    form 
      select(name="domaine")
        option(value="html") HTML
        option(value="css") CSS
        option(value="javascript") JavaScript
      select(name="nbquestions")
        option(value="3") 3 Questions
        option(value="5") 5 Questions
        option(value="10") 10 Questions
    p Etes-vous pret?
    a(class='button' href= 'quicktest') 
      span Commencer l'examen
    br
  div#stats
    h2 Statistiques
    table
      tr
        th Nb de test reussis
        th Nb de test effectues
        th Taux de reussite
        th Moyenne
      tr 
        td 3
        td 10
        td 30%
        td 56%
      tr 
        td 4
        td 12
        td 67%
        td 90%
      tr 
        td 2
        td 42
        td 12%
        td 41%
    a(class='button', href='#modal')
      span Details
    div(id='modal', class='overlay')
      a(class='cancel', href='#')
      div(class='modal')
        h2 Details
        div(class='content')
        p Moyenne : 15 / 20
        p Ecart Type : 3.4
        small Cliquer hors de la boite pour fermer le dialogue.