extends layout

block content
	h1 Tableau de Bord
	button Examen Rapide
	div#stats
		h2 Statistiques
		p Note test rapide (Nombre de questions réussies / Nombre de questions répondues) : 10 / 15
		p Note des examens (Moyenne des scores des examens sur 20) : 15 / 20
		p Examen 1 : 20 / 20
		p Examen 2 : 10 / 20
