extends layout

block content
  h1 Tableau de Bord
  div#info
    h2 Question Rapides
    p Gymnastique mentale dans un environement sans stress.
    a(class='button') 
      span Commencer le quiz
    h2 Pratique d'examen
    p Selectionner vos parametre pour la simulation d'examen.
    a(class='button') 
      span Commencer l'examen
  div#stats
    h2 Statistiques
    table
      tr
        th Nb de test reussis
        th Nb de test effectues
        th Taux de reussite
        th Moyenne
      tr 
        td 3
        td 10
        td 30%
        td 56%
      tr 
        td 4
        td 12
        td 67%
        td 90%
      tr 
        td 2
        td 42
        td 12%
        td 41%
      tr 
        td 7
        td 65
        td 34%
        td 87%
    a(class='button', href='#modal')
      span Details
    div(id='modal', class='overlay')
      a(class='cancel', href='#')
      div(class='modal')
        h2 Details
        div(class='content')
        p Moyenne : 15 / 20
        p Ecart Type : 3.4
        small Cliquer hors de la boite pour fermer le dialogue.