doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href="/") Acceuil
      li
        a(href="/game") Jeu
      li
        a(href="/rules") Regles du Jeu
    block content
