doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      each page in [{path: "/",name : "Acceuil" }, {path: "/game",name : "Tableau de Bord" }, {path: "/rules",name : "Instructions" }]
        if path === page.path
          li
            a#current(href=page.path)= page.name
        else
          li
            a(href=page.path)= page.name
    block content

    footer
        p QuizFacile 2016