extends layout

block content
    div#rules
      h1 Instructions
      p Commencer par vous dirigez vers le tableau de bords et suivez les consignes.
      p Bonne chance!
    img#pug(src='http://i162.photobucket.com/albums/t258/eikka1980/pug.gif' width='256' height='256')
