extends layout

block content
    div#rules
      h1 Instructions
      p Commencez par vous diriger vers le tableau de bord et suivez les consignes.
      p Bonne chance!
    div#pug
      img(src='http://i162.photobucket.com/albums/t258/eikka1980/pug.gif' width='256' height='256')